node_modules
.env
.env.local
/dist
/build
/.next
/.idea
.vscode
.DS_Store
npm-debug.log
coverage

/apps/web/node_modules
/apps/web/.env.local
/apps/web/.next
/apps/web/coverage
/apps/api/node_modules
/apps/api/.env.local
/apps/api/coverage
/apps/api/.next
/apps/admin/node_modules
/apps/admin/.env.local

/landing-page/node_modules
/landing-page/.env.local
/landing-page/.next
/landing-page/coverage

/packages/ui/node_modules
/packages/ui/dist
/packages/utils/node_modules
/packages/utils/dist
/packages/config/node_modules
/packages/config/dist
/packages/api-client/node_modules
/packages/api-client/dist
/packages/auth/node_modules
/packages/auth/dist
/packages/db/node_modules
/apps/ai/.venv
/apps/ai/__pycache__
/apps/ai/*.pyc
/apps/ai/.env


.env.example
.env.test
